
body{
    background-color: rgb(30, 30, 30);
    color: white;
}

.set{
    /*
    stroke: black;
    stroke-width: 3;
    */
    opacity: 0.3;
    mix-blend-mode: screen;
}


.set:hover{
    opacity: 1;
}

#wrapper{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    width: fit-content;
}

#diagram{
    border: 1px solid white;
    background-color: black;
}

#inputs{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    text-align: center;
    width: fit-content;
    border-radius: 20px;
    padding: 10px;
}

input[type=text] {
    color: white;
    background-color: black;
    height: 28px;
    padding-left: 10px;
    text-decoration: none;

    border: 0;
}

input[type=text]:focus {
    border: none;
    outline: none;
    background-color: rgb(10, 10, 10)
}