
body{
    background-color: rgb(30, 30, 30);
    color: white;
}

.set{
    /*
    stroke: black;
    stroke-width: 3;
    */
    opacity: 0.3;
    mix-blend-mode: screen;
}


.set:hover{
    opacity: 1;
}


#diagram{
    margin: 20px;
}

#inputs{
    margin: 10px;
}
