
.set{
    /*
    stroke: black;
    stroke-width: 3;
    */
    mix-blend-mode: screen;
}

/*
.set:hover{
    filter: brightness(50%);
}
*/

#diagram{
    margin: 20px;
}

body{
    background-color: rgb(30, 30, 30);
    color: white;
}